<div class="full-screen">
    <div class="col-lg-6">
        <h3>Cursos de Moto</h3>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Categoria</th>
                <th scope="col">Especificación</th>
                <th scope="col">Precio</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>A1</td>
                <td>Conducir motocicletas con un cilindraje igual o menor a 125 cc</td>
                <td>$ 400.000</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>A2</td>
                <td>Conducir motocicletas con un cilindraje mayor a 125 cc</td>
                <td>$ 600.000</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>